body {
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color:#ffffff;
    /*background-color: #D2FAC3;*/
}
header {
    width: 100vw;
    height: 5vh;
    background-color: #4B784F;
}
nav{    

    background-color: #4B784F;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 99;
    color: white;

}
.logo-nav
{
    width: 4vw;
    left: 15px;
}
.txt-nav{
    width: 30vw;
    position: relative;
    left: 1vw;
    top: 0.2vw;
    font-size: 1.5vw;
}
.home-nav
{
    position: relative;
    top: 1vw;
    left: 15vw;
    font-size: 1vw;
    text-decoration-line: underline;

}
.sobre-nav{
    position: relative;
    top: 1vw;
    left: 18vw;
    font-size: 1vw;
    text-decoration-line: underline;

}
.projetos-nav
{
    position: relative;
    top: 1vw;
    left: 21vw;
    font-size: 1vw;
    text-decoration-line: underline;

}
.onde-nav{
    position: relative;
    top: 1vw;
    left: 24vw;
    font-size: 1vw;
    text-decoration-line: underline;

}
.fale-nav
{
    position: relative;
    top: 1vw;
    left: 27vw;
    font-size: 1vw;
    text-decoration-line: underline;
}
.cadastro-nav{
    position: relative;
    top: 1vw;
    left: 30vw;
    font-size: 1vw;
    text-decoration-line: underline;
}
#chat-online h1{
    display: flex;
    justify-content: space-around;
}
.chat-inicio{
    justify-content: center;
    display: flex;
    
}
.fundo-chat{
    display: flex;
    height: 80.5vh;
    width: 100%;
    background-color: #ffffff;
}
.barra-mensagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0px;
    gap: 0px;
    position: absolute;
    width: 100vw;
    height: 64px;
    left: 0px;
    top: 512px;
}
.input-chat{
    width: 89vw;
    height: 7vh;
    margin: 19px;
    border-radius: 6px; 
    border-color: rgb(103, 115, 128);
    border-style: solid;
}
.enviar-chat{
    background: #000000;
    border-radius: 6px;
    color: #ffffff;
    padding: 14px;
}
@media screen and (max-width: 600px) {
    body{
        background-color: blue;
    }
}
@media screen and (min-width: 601px){
    
    .header-chat h1{
        margin-top: 42px;
        font-size: 1.17em;  
      }
}
@media screen and (min-width:1280px)and (min-height:800px){
    .barra-mensagem{
        top:716px;
    }
}