body {
    box-sizing: border-box;
    font-family: inter;
    background: #81C784;
    font-size: 16px;

}

.container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.botao {
    background: #81C784;
    border: none;
    color: white;
    font-size: 1.5rem;
    margin-top: 12%;
    margin-right: 62%;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-right: 45%;
}

.usuario {
    font-size: 1rem;
    color: white;
    width: 40%;
}

.usuario-1 {
    font-size: 1rem;
    color: black;
    border: none;
    width: 40%;
}

.senha {
    font-size: 1rem;
    color: white;
    border: none;
    width: 40%;
}

.senha-1 {
    font-size: 1rem;
    color: black;
    border: none;
    width: 40%;
}

.container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
    justify-content: center;
    margin-top: 2%;
    margin-right: 45%;

}

.esqueci-senha {
    font-size: 0.8rem;
    color: white;
    border: none;
    background-color: #81C784;
    ;


}

.entrar-botao {
    color: white;
    border: none;
    background-color: #81C784;
    ;
}

.container-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.logo-0 {
    font-size: 1.5rem;
    color: white;

}

.logo-1 {

    font-size: 1rem;
    color: white;
}

.container-0 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
}

.img {
    width: 20vw;
}